<div id="<%= dom_id question %>" class="card">
  <%= h2(question) %>
  <aside class='mt-8 text-center'>
    <%= link_to 'Read More', question, class: button_css('brand') %>
    <%#= render 'components/buy-cta', locals: {book: book} %>
  </aside>
</div>
