<article class='main'>
  <aside>
    <% if @team.todolists.empty? %>
      <%= link_to 'Add Todolist', new_polymorphic_path([@team, Todolist.new]), class: 'hover-link', data: { turbo_frame: 'modal' } %>
    <%end%>
  </aside>
  <%= render @team %>
  <section>
    <% unless @team.todolists.empty? %>
      <%= render partial: 'todolists/index', locals: {todolists: @team.todolists, parent: @team} %>
    <% end %>
  </section>
</article>