<div id="<%= dom_id writing_entry %>">
  <p>
    <strong>Wrote on:</strong>
    <%= writing_entry.wrote_on %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= writing_entry.count %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= writing_entry.comment %>
  </p>

</div>
