<%= render NarrativeComponent.new(object: comment, parent: comment.commentable) do %>
   <% if comment.content.nil? and @form.nil? %>
      <%= link_to "Care to add to the conversation...", new_polymorphic_path([comment.commentable, comment]), class: "block border h-12 px-4 rounded" if comment.content.nil? %>
   <% else %>
    <div class='m-2'><%= comment.content %></div>
   <% end %>
<%end %>
