<%= form_with(model: comment, url: [parent, comment]) do |form| %>
  <div>
    <%= form.rich_text_area :content %>
  </div>
  <div class="inline">
    <%= render SubmitButtonComponent.new(form: form, path:polymorphic_path(comment.commentable), inline: true) %>
  </div>
<% end %>
