<div class="w-full">
  <hr>
  <div>
    <div id="comments" class="w-full">
      <%= render @comments %>
    </div>
  </div>
  <div>
  <%= render 'comments/comment', parent: parent, comment: parent.comments.build %>
  </div>
</div>
