<%= tag.article id: dom_id(@object), aria: aria_label(@object),
    class: 'bg-gray-50 dark:bg-gray-800 relative flex flex-col bordered' do %>
  <div class='flex-1'><%= content %></div>
  <% if @link %>
    <div class="flex flex-0 items-center justify-center mt-4">
      <span class="text-accent border-accent button">Read more</span>
    </div>
    <%= link_to "", @link, class: "absolute top-0 w-full h-full left-0" %>
  <% end %>
<% end %>
