<% @book.links.each do |link| %>
  <%= link_to(link_path(link), target: '_blank', class: "button #{button_css('detail')}") do %>
    <%= icon(link) %>
    <div class="ml-4 flex items-start flex-col leading-none">
      <%= link.bookstore %>
    </div>
  <% end %>
<% end %>
