<% @book.links.each do |link| %>
  <button class="rounded inline-flex shadow-lg hover:shadow-sm items-center <%= css(link) %>">
    <%= icon(link) %>
    <div class="ml-4 flex items-start flex-col leading-none">
      <span class="text-sm uppercase"><%= link.bookstore %></span>
    </div>
  </button>
<% end %>
