<% @book.links.each do |link| %>
  <%= link_to(link_path(link), target: '_blank',
    class: "rounded inline-flex shadow-lg hover:shadow-sm items-center #{css(link)}") do %>
    <%= icon(link) %>
    <div class="ml-4 flex items-start flex-col leading-none">
      <span class="text-sm uppercase inline-block text-center"><%= link.bookstore %></span>
    </div>
  <% end %>
<% end %>
