<aside class='relative  transition ease-in-out delay-150 motion-reduce:transition-none action-menu'>
  <details class='absolute top-0 right-0 bg-brand rounded-bl-lg'>
    <summary role='button' class="absolute right-0 top-0 flex dark:border dark:border-gray-600 rounded items-center justify-center w-6 h-6 m-1" aria-label="Open action bar">
      <%= bi_icon('three-dots') %>
    </summary>
    <div class="z-50 flex flex-col mt-8 leading-8 ">
      <%= edit_link_to(@object, "Edit #{@object.class}") unless @object.nil? %>
      <%= content %>
      <%= trash_link_to(@object,'Put in the trash') unless @object.nil? %>
    </div>
  </details>
</aside>