<div>
<hr>
<h5>Ben Wilson, Author</h5>
<p style='margin:0; font-size: 0.8em;'><%= link_to 'View this online', @url %></p>
<p style='margin:0; font-size: 0.8em;'>You received this email because you signed up on our website.</p>
<%= render "shared/unsubscribe_link" %>
<%= render "shared/physical_address" %>
<p style='text-align: center'>Copyright &copy; <%= @post.created_at.year %></p>
</div>
