<div id="<%= dom_id page %>" class="scaffold_record">
  <p>
    <strong>Title:</strong>
    <%= page.title %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= page.slug %>
  </p>

  <p>
    <%= link_to "Show this page", page %>
  </p>
</div>
