<% is_card ||= false %>
<section id="<%= dom_id book %>" class='grid gap-4 py-5 px-4 lg:grid-cols-3<% if is_card %> shadow-lg rounded-lg my-6 border<%end%>'>
  <aside class='grid place-content-center <%= 'dark-image' unless is_card %>'>
    <div class='grid place-content-center'>
      <%= book_cover_image(book, "inline-block rounded drop-shadow") %>
    </div>
  </aside>
  <section class='grid lg:col-span-2 place-content-center'>
    <%= yield %>
  </section>
</section>
<%#= image_set_tag book_cover_image(book), { 
     book_cover_image(book)  => '640w', 
     book_cover_image(book) => '1024w', 
     book_cover_image(book) => '1980w' 
   }, sizes: '100vw', alt: 'logo', id: 'logo' %>
<%#= image_tag(@assoc.photo,
srcset:[
  [url_for(@assoc.photos_variants(@assoc.photo, 400, 300)), "512w"],
  [url_for(@assoc.photos_variants(@assoc.photo, 600, 450)), "768w"],
  [url_for(@assoc.photos_variants(@assoc.photo, 800, 600)), "1024w"],
  [url_for(@assoc.photos_variants(@assoc.photo, 1200, 900)), "1980w"]
  ],
  sizes: "100vw") %>
