<div class="main">
  <%= headline('Books by Ben Wilson') %>
</div>
<% if @published.empty? %>
  <div class="text-xl text-center">
    <h2>No Books published.</h2>
  </div>
<% else %>
</div>
<% @published.keys.each do |serial| %>
  <%= render SeriesListComponent.new(series: serial, title: "Books in %{title} series") %>
<% end %>
<% end %>
