<div class="main">
  <%= content_for(:title, 'Books') %>
  <% if @published.empty? %>
    <div class="text-xl text-center">
      <h2>No Books published.</h2>
    </div>
  <% else %>
    <% @published.keys.each do |serial| %>
      <header class="text-center text-brand"><%= h2(serial.title) %></header>
      <%= render @published[serial] %>
    <% end %>
  <% end %>
</div>
