<div class="main">
  <% if can? :admin, Book %>
    <div class="flex mt-5 lg:mt-0 lg:ml-4h">
      <%= link_to 'Admin', books_admin_path, class: 'action' %>
    </div>
  <% end %>
  <%= content_for(:title, 'Books') %>
  <% if @published.empty? %>
    <div class="text-center text-xl">
      <h2>No Books published.</h2>
    </div>
  <% else %>
    <%= render @published %>
  <% end %>
</div>
