<p style="color: green"><%= notice %></p>

<h1>Projects</h1>

<div id="buckets">
  <% @buckets.each do |bucket| %>
    <%= render bucket %>
    <p>
      <%= link_to "Show this Project", bucket %>
    </p>
  <% end %>
</div>

<%= link_to "New Project", new_bucket_path %>
