<p style="color: green"><%= notice %></p>

<h1>Writing goals</h1>

<div id="buckets">
  <% @buckets.each do |bucket| %>
    <%= render bucket %>
    <p>
      <%= link_to "Show this writing goal", bucket %>
    </p>
  <% end %>
</div>

<%= link_to "New writing goal", new_bucket_path %>
