<article class="main">
  <table id="subscriptions" class="min-w-full bordered">
    <thead>
      <tr class='p-4 bg-brand-800 text-gray-50'>
      <th>Email/user</th>
      <th>Posts</th>
      <th>Books</th>
    </thead>
    <tbody>
      <%= render @subscriptions %>
    </tbody>
  </table>
</article>
