<div>
<hr>
<p style='margin:0; font-size: 0.8em;'><%= link_to 'View this post online', @post %></p>
<p style='margin:0; font-size: 0.8em;'>You're subscribed to Ben Wilson's website.</p>
<p style='margin:0; font-size: 0.8em;'>Don't want these posts anymore? <%= link_to 'unsubscribe', posts_unsubscribe_url(@user.subscription) %></p>
<%# <p style='margin:0; font-size: 0.8em;'>ADDRESS</p> %>
<p style='text-align: center'>Copyright &copy; <%= @post.created_at.year %></p>
</div>