<% @show_project = parent.nil? ? true : false %>
<section>
  <div class="flex items-center justify-between mt-12 mb-4">
    <%= h2('To-dos') %>
    <%= link_to bi_icon('plus') +'New list', new_polymorphic_path([parent, Todolist.new]), class: 'button', data: { turbo_frame: 'modal' } unless parent.nil?%>
  </div>
  <div id="todolists" class="min-w-full">
    <%= render todolists %>
  </div>
</section>