<article class='relative p-0 my-8 overflow-hidden'>
  <%= render layout: "components/action_panel" do %>
    <%= link_to 'Edit todo', edit_todo_path(@todo), data: { turbo_frame: "todo_details" } %>
  <% end %>

<div class="mx-8">
  <section>
  <%= turbo_frame_tag "todo_details" do %>
    <%= render partial: "todo_details" %>
  <% end %>
  </section>
</div>

</article>
