<div class="max-w-2xl mx-auto">
    <% headline("Posts") %>
    <% if user_signed_in? %>
      <div class="mt-8">
      <%= link_to 'New Post', new_post_path, class: button_css('red') %>
      </div>
    <% end %>
    
    <%= render 'components/subscribe' %>
    <%= render @posts %>
</div>