<div class="max-w-2xl md:max-w-4xl mx-auto">
  <% headline("Posts") %>
  <%= render 'components/subscribe' %>
  <%= headline("Latest News & Posts") %>
  <% if @posts.empty? or @posts.published.empty? %>
    <div class="text-center text-xl">
      <h2>No Articles published.</h2>
    </div>
  <%else%>
    <section class='grid grid-cols-1 md:grid-cols-2 gap-4 flex-col [&>*]:p-4 [&>*]:px-8'>
      <%= render @posts.published.order('published_at desc') %>
    </section>
  <%end%>
</div>
