<%= @title %>

<p>
Please take a minute to answer this question.
<%# You can either reply to this email or %>
Click the button below to answer on the website.
</p>

<%= link_to "Write up an answer", @url %>

<div>
<hr>
<h4>Ben Wilson, Author</h4>
<p style='margin:0; font-size: 0.8em;'>You received this email because you signed up on our website.</p>
<p style='margin:0; font-size: 0.8em;'>If you are no longer interested, <%= link_to 'unsubscribe', unsubscribe_url(@user.unsubscribe_hash) + "?subscription=new_checkins_sent%></p>
<%# <p style='margin:0; font-size: 0.8em;'>ADDRESS</p> %>
</div>