<div class="mx-auto px-12 py-8 max-h-100" style='height: 100%'>
  <h1 class='text-2xl strong xmy-8'><%= @binder_item.name %></h1>
  <%= form_with(
        model: [@binder, @binder_item], class: '',
        data: { 
          controller: "autosave",
          action: "ajax:success->autosave#success ajax:error->autosave#error",
          autosave_delay_value: 2000
        }
      ) do |form| %>
    <%= form.rich_text_area(:content,
        data: { action: 'change->autosave#save keyup->autosave#save blur->autosave#savenow' },
        class: 'w-full', style:'height: calc(70vh)'
      )
    %>
    <span id='autosave-status' class="text-muted" data-autosave-target="status"></span>
  <% end %>
</div>
