@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

}
[multiple],
[type=date],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
select,
textarea {
  @apply text-gray-900 bg-gray-50 dark:bg-gray-900 dark:text-gray-50;
}
body {
  @apply text-black dark:text-white;
}
@media only screen and (-webkit-min-device-pixel-ratio : 2) {
  body {
    @apply font-medium;
  }
}
.panel {
  @apply p-2 border border-opacity-50 rounded shadow-sm;
}
.link {
  @apply underline text-brand;
}
.h2 {
  @apply mt-2 mb-4 text-2xl text-center font-display md:text-3xl;
}
.h3 {
  @apply mt-2 mb-4 font-sans text-xl text-center md:text-2xl;
}
.bordered {
  @apply border border-gray-900 rounded-lg shadow-lg lg:rounded-xl dark:border-gray-50 dark:border-opacity-20 border-opacity-10;
}
input {
  @apply text-3xl bg-gray-900;
}
main>article,
.main {
  @apply md:max-w-4xl py-8 md:p-8 mx-4 rounded-lg md:mx-auto;
}

.single {
  @apply relative p-0 my-6 overflow-hidden;
}

.lone-checkbox {
  @apply bg-gray-50 border-gray-300 focus:ring-blue-300 h-4 w-4 rounded
}

.form-panel {
  @apply max-w-2xl mx-auto lg:w-2/3;
}
.tick {
  @apply after:content-[''] after:bg-brand after:block after:w-8 after:h-1 after:mt-6;
}
.headline {
  @apply mt-4 mb-8 max-w-2xl mx-auto text-3xl font-display md:text-5xl tick;
}

.user-menu-link {
  @apply block px-4 py-2 text-sm  hover:bg-gray-500 hover:bg-opacity-10;
}

.subtitle {
  @apply  text-2xl font-display md:text-3xl text-brand dark:text-brand-light;
}

.panel-headline {
  @apply mt-4 mb-8 font-sans text-2xl font-bold text-center md:text-3xl;
}
.button_to {
  @apply inline-block
}
.button {
  @apply inline-flex items-center justify-center px-2 py-1 m-2 font-sans text-sm font-semibold transition duration-200 ease-in-out border rounded-lg shadow-md focus:outline-none hover:shadow-sm;
}
.year_button-active {
  @apply bg-brand-dark text-white dark:bg-brand-light dark:text-black;
}
.todo_checkbox {
  @apply float-left w-5 h-5 mt-1 mr-2 align-top transition duration-200 bg-gray-50 bg-center bg-no-repeat bg-contain border border-gray-300 rounded appearance-none cursor-pointer checked:bg-brand checked:border-brand focus:outline-none
}
.action div {
  @apply inline-block px-2 py-1 mx-1 font-sans text-xs uppercase border border-solid rounded-md border-brand hover:bg-brand-500 dark:hover:bg-brand-400 hover:text-gray-50;
}
.option-menu {
  @apply relative inline-block text-left z-50 transition ease-in-out delay-150 motion-reduce:transition-none;
}
.option-menu > div {
  @apply bg-white dark:bg-gray-600;
}
.option-menu a, .option-menu .button {
  @apply block px-2 py-1 text-sm uppercase hover:bg-gray-900/[.10] dark:hover:bg-gray-50/[.10] text-black dark:text-white;
}
.triangle-top {
  @apply w-0 h-0 block border-l-[20px] border-l-transparent border-b-[10px] border-b-gray-300 dark:border-b-gray-500 border-r-[20px] border-r-transparent;
}
.action-menu a, .action-menu summary {
  @apply hover:bg-gray-900/25;
}
.action-menu a {
  @apply inline-block px-4;
}
details summary::-webkit-details-marker,
details summary::marker {
  content: '';
  display: none;
}

details summary {
  cursor: pointer;
}

details summary>* {
  display: inline;
}

.field,
.actions {
  @apply mt-8
}
.completed {
  @apply line-through italic opacity-50;
}

.coverall {
  @apply absolute w-full h-full top-0 left-0;
}

.breadcrumbs>a {
  @apply text-brand hover:underline;
}

a.hover-link,
.hover-link>a {
  @apply text-brand hover:text-brand-500 hover:underline;
}


blockquote .quote-mark {
  font-size: 10rem;
  right: 100%;
  @apply absolute top-0 leading-none text-gray-50 text-opacity-20 font-display;
}
.icon {
  @apply inline-block h-6;
}
.icon-link {
  @apply opacity-50 icon hover:opacity-100;
}
.modal {
  @apply fixed inset-0 z-40 flex items-center justify-center h-full p-6 backdrop-brightness-75 backdrop-blur-sm;
}

.calgraph-text {
  @apply font-sans text-xs dark:fill-gray-200/50 fill-gray-600/50;
}
.calgraph-text-bold {
  @apply font-sans text-xs dark:fill-gray-200 fill-gray-600;
}
.calgraph-1 {
  @apply fill-gray-400/[.15] stroke-gray-500/25 dark:stroke-gray-500/25;
}
.calgraph-2 {
  @apply fill-heatmap-200 dark:fill-heatmap-400/25 stroke-gray-500/[.15]
}
.calgraph-3 {
  @apply fill-heatmap-400 dark:fill-heatmap-400/50 stroke-gray-500/[.15]
}
.calgraph-4 {
  @apply fill-heatmap-600 dark:fill-heatmap-400/75 stroke-gray-500/[.15]
}
.calgraph-5 {
  @apply fill-heatmap-700 dark:fill-heatmap-400 stroke-gray-500/[.15]
}

.tab-active > a {
  @apply border-b-4 border-brand-500
}
.trix-button-row {
  @apply dark:bg-gray-500 dark:rounded-t-lg;
}
.trix-editor {
  @apply overflow-y-auto max-h-96;
}
trix-editor {
  min-height: 20em;
}
trix-toolbar .trix-button-group button {
  padding: 0;
  border: 0;
  width: 1.6em;
}
trix-toolbar .trix-button,
trix-toolbar .trix-button:not(:first-child),
trix-toolbar .trix-button-group {
  border: 0;
}
@media (prefers-color-scheme:dark) {
  .dark-image {
    filter: saturate(105%) contrast(110%) brightness(0.9) greyscale(0%);
  }

  .dark-image img {
    filter: drop-shadow(0em 0em 1em #AAA);
  }
}