@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply flex flex-col min-h-screen font-normal bg-white dark:bg-gray-900 dark:text-white;
}
@media only screen and (-webkit-min-device-pixel-ratio : 2) {
  body {
    @apply font-medium;
  }
}

.card {
  @apply px-8 py-4 my-8 border border-opacity-50 rounded shadow-lg;
}

.panel {
  @apply p-2 border border-opacity-50 rounded shadow-lg;
}

.card time {
  @apply block text-center text-gray-500 opacity-75 dark:text-gray-300;
}

.card h2 {
  @apply mt-2 mb-4 text-2xl text-center text-black font-display md:text-3xl dark:text-white;
}

.link {
  @apply text-blue-500 underline dark:text-blue-300;
}

.h2 {
  @apply mt-2 mb-4 text-2xl text-center text-black font-display md:text-3xl dark:text-white;
}

.h3 {
  @apply mt-2 mb-4 font-sans text-xl text-center text-black md:text-2xl dark:text-white;
}

.bordered {
  @apply border border-black rounded rounded-lg shadow-lg lg:rounded-xl dark:border-white dark:border-opacity-20 border-opacity-10;
}

main>article,
.main {
  @apply max-w-4xl p-8 mx-4 rounded-lg md:mx-auto;
}

.single {
  @apply mb-12;
}

.lone-checkbox {
  @apply bg-gray-50 border-gray-300 focus:ring-blue-300 h-4 w-4 rounded
}

.form-panel {
  @apply max-w-2xl mx-auto lg:w-2/3;
}

.headline {
  @apply mt-4 mb-8 text-3xl text-indigo-500 font-display md:text-5xl dark:text-brand-100;
}

.user-menu-link {
  @apply block px-4 py-2 text-sm text-black dark:text-white hover:bg-gray-500 hover:bg-opacity-10;
}

.subtitle {
  @apply text-2xl text-black font-display md:text-3xl dark:text-white;
}

.panel-headline {
  @apply mt-4 mb-8 font-sans text-2xl font-bold text-center text-black md:text-3xl dark:text-white;
}

.button {
  @apply inline-block px-4 py-2 mx-2 font-sans text-sm font-bold transition duration-200 ease-in-out border rounded shadow-lg focus:outline-none hover:shadow-sm hover:opacity-100 opacity-70;
}
.year_button-active {
  @apply bg-violet-500;
}

.action {
  @apply inline-block p-2 mx-1 font-sans text-sm uppercase border border-blue-200 border-solid rounded-md dark:border-blue-400 hover:bg-blue-500 dark:hover:bg-blue-400 hover:text-white dark:text-white;
}

details summary::-webkit-details-marker,
details summary::marker {
  content: '';
  display: none;
}

details summary {
  cursor: pointer;
}

details summary>* {
  display: inline;
}

.field,
.actions {
  @apply mt-8
}

@media (prefers-color-scheme:dark) {
  .dark-image {
    filter: saturate(105%) contrast(110%) brightness(0.9) greyscale(0%);
  }

  .dark-image img {
    filter: drop-shadow(0em 0em 1em #AAA);
  }
}

blockquote .quote-mark {
  font-size: 10rem;
  right: 100%;
  @apply absolute top-0 leading-none text-white text-opacity-20 font-display;
}
.icon {
  @apply inline-block h-6;
}
.icon-link {
  @apply opacity-50 icon hover:opacity-100;
}
.modal {
  @apply fixed inset-0 z-40 flex items-center justify-center h-full p-6 backdrop-brightness-75 backdrop-blur-sm;
}

.modal-window {
  @apply relative w-full max-w-lg p-5 overflow-hidden bg-white border-gray-500 rounded;
}
.calgraph-text {
  @apply font-sans text-xs dark:fill-gray-200/50 fill-gray-600/50;
}
.calgraph-text-bold {
  @apply font-sans text-xs dark:fill-gray-200 fill-gray-600;
}
.calgraph-1 {
  @apply fill-gray-400/[.15] stroke-gray-500/25 dark:stroke-gray-500/25;
}
.calgraph-2 {
  @apply fill-heatmap-200 dark:fill-heatmap-400/25 stroke-gray-500/[.15]
}
.calgraph-3 {
  @apply fill-heatmap-400 dark:fill-heatmap-400/50 stroke-gray-500/[.15]
}
.calgraph-4 {
  @apply fill-heatmap-600 dark:fill-heatmap-400/75 stroke-gray-500/[.15]
}
.calgraph-5 {
  @apply fill-heatmap-700 dark:fill-heatmap-400 stroke-gray-500/[.15]
}
@font-face {
  font-family: 'Merovex Display';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/FjallaOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Code';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/SourceCodePro-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Code';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/SourceCodePro-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Code';
  font-display: swap;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/SourceCodePro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Code';
  font-display: swap;
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/SourceCodePro-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Code';
  font-display: swap;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/SourceCodePro-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Code';
  font-display: swap;
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/SourceCodePro-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Code';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/SourceCodePro-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Code';
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/SourceCodePro-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Code';
  font-display: swap;
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/SourceCodePro-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Code';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Code';
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/SourceCodePro-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Code';
  font-display: swap;
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/SourceCodePro-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Sans';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/SourceSansPro-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Sans';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/SourceSansPro-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Sans';
  font-display: swap;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Sans';
  font-display: swap;
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/SourceSansPro-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Sans';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/SourceSansPro-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Sans';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Sans';
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/SourceSansPro-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Sans';
  font-display: swap;
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/SourceSansPro-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Serif';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/SourceSerifPro-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Serif';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/SourceSerifPro-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Serif';
  font-display: swap;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/SourceSerifPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Serif';
  font-display: swap;
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/SourceSerifPro-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Serif';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/SourceSerifPro-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Serif';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/SourceSerifPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Serif';
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/SourceSerifPro-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Serif';
  font-display: swap;
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/SourceSerifPro-SemiBoldItalic.ttf') format('truetype');
}