/* @font-face {
  font-family: 'Merovex Display';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/FjallaOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Code';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/SourceCodePro-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Code';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/SourceCodePro-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Code';
  font-display: swap;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/SourceCodePro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Code';
  font-display: swap;
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/SourceCodePro-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Code';
  font-display: swap;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/SourceCodePro-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Code';
  font-display: swap;
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/SourceCodePro-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Code';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/SourceCodePro-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Code';
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/SourceCodePro-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Code';
  font-display: swap;
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/SourceCodePro-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Code';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Code';
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/SourceCodePro-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Code';
  font-display: swap;
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/SourceCodePro-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Sans';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/SourceSansPro-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Sans';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/SourceSansPro-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Sans';
  font-display: swap;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Sans';
  font-display: swap;
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/SourceSansPro-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Sans';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/SourceSansPro-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Sans';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Sans';
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/SourceSansPro-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Sans';
  font-display: swap;
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/SourceSansPro-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Serif';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/SourceSerifPro-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Serif';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/SourceSerifPro-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Serif';
  font-display: swap;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/SourceSerifPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Serif';
  font-display: swap;
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/SourceSerifPro-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Serif';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/SourceSerifPro-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Serif';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/SourceSerifPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Serif';
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/SourceSerifPro-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Merovex Serif';
  font-display: swap;
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/SourceSerifPro-SemiBoldItalic.ttf') format('truetype');
} */