<div class="main">
  <article class="single">
  <% if can? :admin, Series %>
    <%= render OptionMenuComponent.new(object: @series) do %>
    <% end %>
  <% end %>
  <%= headline(@series.title) %>
  <section class='<%= t('prose') %>'>
    <%#= @series.content %>
  </section>
</div>
