<div class="flex my-8" id='<%= dom_id(praise)%>'>
  <div class='flex-1 font-serif text-lg'><%= praise.comment %></div>
  <div class="text-right">
    <%= link_to bi_icon('pencil-square'),
                edit_book_praise_path(@book, praise), 
                data: { turbo_frame: 'modal' },
                class: 'link ml-4' %>
    <%= link_to trash_link(comment,'Put in the trash') %>
  </div>
</div>